@import "tailwindcss";

@theme{
  /* color */
  --color-primary-100: #0B0F10; /* darkest */
  --color-primary-200: #1A2325;
  --color-primary-300: #243033;
  --color-primary-400: #324244;
  --color-primary-500: #415658;
  --color-primary-600: #597274;
  --color-primary-700: #7D9A9C;
  --color-primary-800: #A7BFC1;
  --color-primary-900: #D1E0E1; /* lightest */

  --color-secondary-50:  #F9FCF3;
  --color-secondary-100: #EEF6DF;
  --color-secondary-200: #D6E9AF;
  --color-secondary-300: #C1DD88;
  --color-secondary-400: #ACD260;
  --color-secondary-500: #97C738; /* base */
  --color-secondary-600: #799F2D;
  --color-secondary-700: #5B7722;
  --color-secondary-800: #3D5016;
  --color-secondary-900: #24300D;

  /* Mobile-first (min-width) */
  --breakpoint-xs: 30rem;   /* 480px */
  --breakpoint-sm: 40rem;   /* 640px */
  --breakpoint-md: 48rem;   /* 768px */
  --breakpoint-lg: 64rem;   /* 1024px */
  --breakpoint-xl: 80rem;   /* 1280px */
  --breakpoint-2xl: 96rem;  /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px - 1080p / 27" monitors */
  --breakpoint-4xl: 160rem; /* 2560px - 1440p ultrawide */
  --breakpoint-5xl: 240rem; /* 3840px - 4K UHD */
  --breakpoint-6xl: 320rem; /* 5120px - 5K */
  --breakpoint-7xl: 480rem; /* 7680px - 8K */

  /* Max-width counterparts */
  --breakpoint-max-xs: 30rem;
  --breakpoint-max-sm: 40rem;
  --breakpoint-max-md: 48rem;
  --breakpoint-max-lg: 64rem;
  --breakpoint-max-xl: 80rem;
  --breakpoint-max-2xl: 96rem;
  --breakpoint-max-3xl: 120rem;
  --breakpoint-max-4xl: 160rem;
  --breakpoint-max-5xl: 240rem;
  --breakpoint-max-6xl: 320rem;
  --breakpoint-max-7xl: 480rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 60s linear infinite;
}